body {
    background-color: #000000;
    font-family: helvetica;
    display:center;
   
}

.container {
    height: 100vh;
    width: 100%;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}

.clock {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    height: 80px;
    display: flex;
    align-items: center;
}



